@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Josefin+Sans:wght@300&display=swap');

header {
	text-align: center;
	color: #fff;
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
}

body {
	color: #fff;
}

h2{
	font-weight: 400;
	color: #fff;
	font-family: 'Dancing Script', cursive;
}

h1{
	font-weight: 700;
	color: #fff;
	font-family: 'Dancing Script', cursive;
}

h4{
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}

p {
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}

a {
	text decoration: none;
	color: #fff;
}
