@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Permanent+Marker&display=swap');

body {
	background-image: url('https://besthqwallpapers.com/Temp/18-11-2021/linear-icons-4k-art-dark-background-references-besthqwallpapers.com-3840x2400.jpg');
}

header {
	text-align: center;
	color: #fff;
	font-family: 'Permanent Marker', cursive;
}

#titulo-index {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	color: #fff;
	padding-top: 20%;
}

h1,h2,h4,h5,h6{
	font-weight: 400;
	color: #f8f9fa;
	font-family: 'Permanent Marker', cursive;
}

h1{
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
}

p {
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
}

a {
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
	text-decoration: none;
}

